@media (max-width:425px) {
  body {
    background-color: #141414;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  header {
    background-color: #0d0d0d;
    padding: 20px;
    text-align: center;
  }

  form {
    margin: 20px;
    color: #eee;
  }

  form p {
    font-size: 18px;
    letter-spacing: 0.1em;
  }
}

@media (min-width: 426px) {
  body {
    max-width: 425px;
    margin: o auto;
  }
}