@media (max-width: 1600px) {
  body {
    margin: 20px auto;
    background-color: #282c34;
  }

  body div {
    background-color: #141414;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 425px;
  }

  header {
    background-color: #0d0d0d;
    padding: 20px;
    text-align: center;
  }

  form {
    margin: 20px;
    color: #eee;
  }

  form p {
    font-size: 18px;
    letter-spacing: 0.1em;
  }

  /* Gender styles */
  input[type="radio"] {
    opacity: 0;
    width: 0;
    margin: 0;
  }

  label[for="male"], label[for="female"] {
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 26px;
    cursor: pointer;
    background: url(assets/checks.png) no-repeat;
    line-height: 24px;
    background-position: 0 -32px;
  }

  input:checked + label[for="male"],
  input:checked + label[for="female"] {
    background-position: 0 0;
    color: #ce1010;
  }

  /* Interests styles */
  input[type="checkbox"] {
    opacity: 0;
    width: 0;
    margin: 0;
  }

  label[for="web"], label[for="design"], label[for="drawing"] {
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 26px;
    cursor: pointer;
    background: url(assets/checks.png) no-repeat;
    line-height: 24px;
    background-position: 0 -100px;
  }

  input:checked + label[for="web"],
  input:checked + label[for="design"],
  input:checked + label[for="drawing"] {
    background-position: 0 -67px;
    color: #ce1010;
  }

  /* Contact info styles */
  fieldset {
    margin: 20px 0;
    padding: 2 0px;
    border: 3px solid #444;
  }

  legend {
    padding: 0 10px;
    font-size: 18px;
    letter-spacing: 0.1em;
  }

  input[type="email"],
  input[type="tel"] {
    display: block;
    margin: 15px 0;
    padding: 10px 10px 10px 50px;
    border: 0;
    border-radius: 5px;
    background: url(assets/inputs.png) no-repeat #222;
    font-size: 16px;
    color: white;
  }

  input[type="email"] {
    background-position: 7px 8px;
  }

  input[type="tel"] {
    background-position: 7px -58px;
  }

  /* Validation for contact info */

  /* Contact type styles */

}

@media (max-width:425px) {
  body {
    margin: 0;
    background-color: #141414;
  }

  body div {
    background-color: inherit;
  }
}